{% extends "layout.html" %}
{%block title%}
Home
{%endblock%}
{% block main %}
<div class="row d-flex align-items-center hero" style="height: 90vmin">
  <div class="text-white">
    <h1 class="mb-3">Acme Consults LLC</h1>
    <h5 class="mb-4">We Leave You Safisfied</h5>
    <a
      class="btn btn-outline-light btn-lg m-2"
      href="/register"
      role="button"
      rel="nofollow"
      >Register</a
    >
    <a class="btn btn-outline-light btn-lg m-2" href="/login" role="button"
      >Login</a
    >
  </div>
</div>

{% endblock %}
