{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
    main %}
    <div class="row d-flex align-items-center hero" style="height: 90vmin">
      <div class="col">
        <form action="/login" method="post">
          <div class="mb-3">
            <input
              autocomplete="off"
              autofocus
              class="form-control mx-auto w-auto"
              id="username"
              name="username"
              placeholder="Username"
              type="text"
            >
          </div>
          <div class="mb-3">
            <input
              class="form-control mx-auto w-auto"
              id="password"
              name="password"
              placeholder="Password"
              type="password"
            >
          </div>
          <button class="btn btn-outline-light btn-lg m-2" type="submit">Log In</button>
          <div><a class="text-white" href="/register">Register</a></div>
        </form>
      </div>
    </div>
    {% endblock %}
